<?xml version="1.0" encoding="UTF-8"?>
 <beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
     xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
 
 
     <context:property-placeholder location="classpath:application.properties" />
     <context:component-scan base-package="com.joymeng.joyserver.game.db"></context:component-scan>
     <!--配置数据源 -->
    <!-- 使用log4jdbc-remix 对sql进行log，使用的时候需要打开log4j.properties中的配置  -->
     <bean id="dataSourceSpied" class="org.apache.commons.dbcp.BasicDataSource"
         destroy-method="close"> 
        <!--   <bean id="gameDS" class="org.apache.commons.dbcp.BasicDataSource"
         destroy-method="close">-->
         <property name="driverClassName" value="${jdbc.driver}" />
         <property name="url" value="${game.url}" />
         <property name="username" value="${jdbc.username}" />
         <property name="password" value="${jdbc.password}" />
         <!-- 连接池启动时的初始值 -->
         <property name="initialSize" value="${initialSize}" />
         <!-- 连接池的最大值 -->
         <property name="maxActive" value="${dbcp.maxActive}" />
         <!-- 最大空闲值.当经过一个高峰时间后，连接池可以慢慢将已经用不到的连接慢慢释放一部分，一直减少到maxIdle为止 -->
         <property name="maxIdle" value="${dbcp.maxIdle}" />
         <!--  最小空闲值.当空闲的连接数少于阀值时，连接池就会预申请去一些连接，以免洪峰来时来不及申请 -->
         <property name="minIdle" value="${dbcp.minIdle}" />
     </bean>
    <!-- 使用log4jdbc-remix 对sql进行log，使用的时候需要打开log4j.properties中的配置  -->
   <bean id="gameDS" class="net.sf.log4jdbc.Log4jdbcProxyDataSource">
    <constructor-arg ref="dataSourceSpied" />
   </bean>

    <bean id="playerDAO" class="com.dreamgear.majiang.db.dao.PlayerDAO">
		<property name="dataSource" ref="gameDS" />
	</bean>
	
    <bean id="logDAO" class="com.dreamgear.majiang.db.dao.LogDAO">
		<property name="dataSource" ref="gameDS" />
	</bean>
	
    <bean id="noticeDAO" class="com.dreamgear.majiang.db.dao.NoticeDAO">
		<property name="dataSource" ref="gameDS" />
	</bean>
	
    <bean id="roomDAO" class="com.dreamgear.majiang.db.dao.RoomDAO">
		<property name="dataSource" ref="gameDS" />
	</bean>
	
    <bean id="orderDAO" class="com.dreamgear.majiang.db.dao.OrderDAO">
		<property name="dataSource" ref="gameDS" />
	</bean>
	
    <bean id="delegateDAO" class="com.dreamgear.majiang.db.dao.DelegateDAO">
		<property name="dataSource" ref="gameDS" />
	</bean>
	
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="gameDS" />
	</bean>
	
    <bean id="payGiftDAO" class="com.dreamgear.majiang.db.dao.PayGiftDAO">
		<property name="dataSource" ref="gameDS" />
	</bean>
	
    <bean id="rankDAO" class="com.dreamgear.majiang.db.dao.RankDAO">
		<property name="dataSource" ref="gameDS" />
	</bean>
	
	
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

 </beans>